div.titulo{
	text-align: center;
}
div.subtitulo{
	text-align: left;
}
h5{
	text-align: center;
}

body{
	margin-left: 4%;
	margin-right: 4%;
	background: url(../img/maxresdefault.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}